/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Base SlideDeck Styles
 */
/* line 34, ../sass/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 39, ../sass/_base.scss */
body {
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  height: 100%;
  min-height: 740px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-transition: opacity 600ms ease-in;
  -webkit-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
}

/* line 57, ../sass/_base.scss */
slides > slide[hidden] {
  display: none !important;
}

/* line 61, ../sass/_base.scss */
slides {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 72, ../sass/_base.scss */
slides > slide {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clickable/tappable areas */
/*
.slide-area {
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 700px;  

  left: 50%;
  top: 50%;

  cursor: pointer;  
  margin-top: -350px;  
  
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
#prev-slide-area {
  margin-left: -550px;
}
#next-slide-area {
  margin-left: 400px;
}
.slides.layout-widescreen #prev-slide-area,
.slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -650px;
}
.slides.layout-widescreen #next-slide-area,
.slides.layout-faux-widescreen #next-slide-area {
  margin-left: 500px;
}*/
/* Slide styles */
/* line 122, ../sass/_base.scss */
article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}

/* line 137, ../sass/_base.scss */
slide.fill {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 142, ../sass/_base.scss */
slide.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/**
 * Theme Styles
 */
/* line 38, ../sass/default.scss */
::selection {
  color: white;
  background-color: #ffd14d;
  text-shadow: none;
}

/* line 44, ../sass/default.scss */
body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, color-stop(0%, #4387fd), color-stop(100%, #2a7cdf));
  background-image: -webkit-radial-gradient(50% 50%, #4387fd 0%, #2a7cdf 600px);
  background-image: -moz-radial-gradient(50% 50%, #4387fd 0%, #2a7cdf 600px);
  background-image: -o-radial-gradient(50% 50%, #4387fd 0%, #2a7cdf 600px);
  background-image: -ms-radial-gradient(50% 50%, #4387fd 0%, #2a7cdf 600px);
  background-image: radial-gradient(50% 50%, #4387fd 0%, #2a7cdf 600px);
  background-attachment: fixed;
}

/* line 51, ../sass/default.scss */
slides > slide {
  width: 900px;
  height: 700px;
  margin-left: -450px;
  margin-top: -350px;
  padding: 40px 60px;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 20px #515151;
  -webkit-box-shadow: 3px 3px 20px #515151;
  -o-box-shadow: 3px 3px 20px #515151;
  box-shadow: 3px 3px 20px #515151;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 66, ../sass/default.scss */
slides.layout-widescreen > slide {
  margin-left: -550px;
  width: 1100px;
}

/* line 71, ../sass/default.scss */
slides.layout-faux-widescreen > slide {
  margin-left: -550px;
  width: 1100px;
  padding: 40px 160px;
}

/*slides.nobackground slide:not(.fill) {
  background: url(/images/devfest_logo_small.png) 98% 99% no-repeat,
              url(/images/bubbles.png) 5% -125px no-repeat,
              url(/images/colorbar.png) 0 91% repeat-x,
              white !important;
}

slides.nobackground slide:not(.fill)::after,
slides.nobackground slide:not(.fill)::before {
  color: inherit !important;
}
*/
/* line 97, ../sass/default.scss */
slides > slide:not(:first-of-type):not(.fill):not(.nobackground):before {
  content: "#io2012 @yourtwitter";
  position: absolute;
  bottom: 20px;
  left: 60px;
  background: url(/images/google_developers_icon_128.png) no-repeat 0 50%;
  -moz-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 40px;
  height: 30px;
  line-height: 1.9;
}
/* line 108, ../sass/default.scss */
slides > slide:not(:first-of-type):not(.fill):not(.nobackground):after {
  content: attr(data-slide-num) "/" attr(data-total-slides);
  position: absolute;
  bottom: 20px;
  right: 60px;
}

/*slides.layout-widescreen > slide:not(.nobackground),
slides.layout-faux-widescreen > slide:not(.nobackground) {
  background-position-x: 0, 840px;
}*/
/* Slides */
/* line 123, ../sass/default.scss */
slides > slide {
  display: none;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #797979;
}
/* line 132, ../sass/default.scss */
slides > slide.far-past {
  display: block;
  -moz-transform: translate(-2040px);
  -webkit-transform: translate(-2040px);
  -o-transform: translate(-2040px);
  -ms-transform: translate(-2040px);
  transform: translate(-2040px);
  -moz-transform: translate3d(-2040px, 0, 0);
  -webkit-transform: translate3d(-2040px, 0, 0);
  -o-transform: translate3d(-2040px, 0, 0);
  -ms-transform: translate3d(-2040px, 0, 0);
  transform: translate3d(-2040px, 0, 0);
}
/* line 138, ../sass/default.scss */
slides > slide.past {
  display: block;
  -moz-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -webkit-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -o-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -ms-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -moz-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -webkit-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -o-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -ms-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
}
/* line 144, ../sass/default.scss */
slides > slide.current {
  display: block;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 150, ../sass/default.scss */
slides > slide.next {
  display: block;
  -moz-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -webkit-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -o-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -ms-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -moz-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -webkit-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -o-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -ms-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
}
/* line 156, ../sass/default.scss */
slides > slide.far-next {
  display: block;
  -moz-transform: translate(2040px);
  -webkit-transform: translate(2040px);
  -o-transform: translate(2040px);
  -ms-transform: translate(2040px);
  transform: translate(2040px);
  -moz-transform: translate3d(2040px, 0, 0);
  -webkit-transform: translate3d(2040px, 0, 0);
  -o-transform: translate3d(2040px, 0, 0);
  -ms-transform: translate3d(2040px, 0, 0);
  transform: translate3d(2040px, 0, 0);
}

/* line 168, ../sass/default.scss */
slides.layout-widescreen > slide.far-past,
slides.layout-faux-widescreen > slide.far-past {
  display: block;
  -moz-transform: translate(-2260px);
  -webkit-transform: translate(-2260px);
  -o-transform: translate(-2260px);
  -ms-transform: translate(-2260px);
  transform: translate(-2260px);
  -moz-transform: translate3d(-2260px, 0, 0);
  -webkit-transform: translate3d(-2260px, 0, 0);
  -o-transform: translate3d(-2260px, 0, 0);
  -ms-transform: translate3d(-2260px, 0, 0);
  transform: translate3d(-2260px, 0, 0);
}
/* line 174, ../sass/default.scss */
slides.layout-widescreen > slide.past,
slides.layout-faux-widescreen > slide.past {
  display: block;
  -moz-transform: translate(-1130px);
  -webkit-transform: translate(-1130px);
  -o-transform: translate(-1130px);
  -ms-transform: translate(-1130px);
  transform: translate(-1130px);
  -moz-transform: translate3d(-1130px, 0, 0);
  -webkit-transform: translate3d(-1130px, 0, 0);
  -o-transform: translate3d(-1130px, 0, 0);
  -ms-transform: translate3d(-1130px, 0, 0);
  transform: translate3d(-1130px, 0, 0);
}
/* line 180, ../sass/default.scss */
slides.layout-widescreen > slide.current,
slides.layout-faux-widescreen > slide.current {
  display: block;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 186, ../sass/default.scss */
slides.layout-widescreen > slide.next,
slides.layout-faux-widescreen > slide.next {
  display: block;
  -moz-transform: translate(1130px);
  -webkit-transform: translate(1130px);
  -o-transform: translate(1130px);
  -ms-transform: translate(1130px);
  transform: translate(1130px);
  -moz-transform: translate3d(1130px, 0, 0);
  -webkit-transform: translate3d(1130px, 0, 0);
  -o-transform: translate3d(1130px, 0, 0);
  -ms-transform: translate3d(1130px, 0, 0);
  transform: translate3d(1130px, 0, 0);
}
/* line 192, ../sass/default.scss */
slides.layout-widescreen > slide.far-next,
slides.layout-faux-widescreen > slide.far-next {
  display: block;
  -moz-transform: translate(2260px);
  -webkit-transform: translate(2260px);
  -o-transform: translate(2260px);
  -ms-transform: translate(2260px);
  transform: translate(2260px);
  -moz-transform: translate3d(2260px, 0, 0);
  -webkit-transform: translate3d(2260px, 0, 0);
  -o-transform: translate3d(2260px, 0, 0);
  -ms-transform: translate3d(2260px, 0, 0);
  transform: translate3d(2260px, 0, 0);
}

/* line 199, ../sass/default.scss */
b {
  font-weight: 600;
}

/* line 203, ../sass/default.scss */
a {
  color: #0066cc;
}
/* line 206, ../sass/default.scss */
a:visited {
  color: rgba(0, 102, 204, 0.75);
}
/* line 210, ../sass/default.scss */
a:hover {
  color: black;
}

/* line 215, ../sass/default.scss */
h1, h2, h3 {
  font-weight: 600;
}

/* line 219, ../sass/default.scss */
h2 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -2px;
  color: #515151;
}

/* line 233, ../sass/default.scss */
h3 {
  font-size: 30px;
  margin: 0 0 1em 0;
  letter-spacing: -1px;
  line-height: 2;
  font-weight: inherit;
  color: #797979;
}

/* line 242, ../sass/default.scss */
ul {
  margin-left: .75em;
}
/* line 245, ../sass/default.scss */
ul ul {
  margin-top: .5em;
}

/* line 250, ../sass/default.scss */
li {
  margin-bottom: 0.5em;
}
/* line 253, ../sass/default.scss */
li:before {
  content: '·';
  width: .75em;
  margin-left: -0.75em;
  position: absolute;
}

/* line 260, ../sass/default.scss */
ul > li::before {
  content: '·';
  width: 0.5em;
  margin-left: -1.3em;
  position: absolute;
}

/* line 266, ../sass/default.scss */
ul li ul li::before {
  content: '';
}

/* line 270, ../sass/default.scss */
pre {
  font-family: 'Inconsolata', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 20px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-shadow: none;
  /*overflow: hidden;*/
}

/* line 281, ../sass/default.scss */
code {
  font-size: 95%;
  font-family: 'Inconsolata', 'Courier New', monospace;
  color: black;
}

/* line 287, ../sass/default.scss */
iframe {
  width: 100%;
  height: 620px;
  background: white;
  border: 1px solid silver;
  margin: -1px;
}

/* line 295, ../sass/default.scss */
dt {
  font-weight: bold;
}

/* line 299, ../sass/default.scss */
h3 + iframe {
  height: 540px;
}

/* line 303, ../sass/default.scss */
button {
  display: inline-block;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
  background: -webkit-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -moz-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -ms-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -o-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  border: 1px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px white;
  font-weight: 700;
  font-size: 10pt;
}

/* line 323, ../sass/default.scss */
button:hover {
  border-color: black;
}

/* line 327, ../sass/default.scss */
button:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e3e3e3), to(#f9f9f9));
  background: -webkit-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -moz-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -ms-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -o-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
}

/* line 336, ../sass/default.scss */
.blue {
  color: #0066cc;
}

/* line 339, ../sass/default.scss */
.yellow {
  color: #ffd319;
}

/* line 342, ../sass/default.scss */
.green {
  color: #008a35;
}

/* line 345, ../sass/default.scss */
.red {
  color: red;
}

/* line 348, ../sass/default.scss */
.black {
  color: black;
}

/* line 351, ../sass/default.scss */
.white {
  color: white;
}

/* line 354, ../sass/default.scss */
.dark {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

/* line 359, ../sass/default.scss */
img.centered {
  margin: 0 auto;
  display: block;
}

/* line 364, ../sass/default.scss */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

/* line 370, ../sass/default.scss */
th {
  font-weight: 600;
  text-align: left;
}

/* line 376, ../sass/default.scss */
td,
th {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  vertical-align: top;
}

/* line 382, ../sass/default.scss */
q {
  display: block;
  font-size: 60px;
  line-height: 72px;
  margin-left: 20px;
  margin-top: 100px;
}
/* line 389, ../sass/default.scss */
q:before {
  content: 'â€œ';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  font-size: 90px;
  color: silver;
}
/* line 399, ../sass/default.scss */
q:after {
  content: 'â€';
  position: absolute;
  margin-left: .1em;
  font-size: 90px;
  color: silver;
}

/* line 408, ../sass/default.scss */
div.author {
  text-align: right;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 150px;
}
/* line 415, ../sass/default.scss */
div.author:before {
  content: 'â€”';
}

/* line 420, ../sass/default.scss */
slide.fill {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 423, ../sass/default.scss */
slide.fill h3 {
  background: rgba(255, 255, 255, 0.75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -0.2em;
  margin-left: -60px;
  padding-left: 60px;
  margin-right: -60px;
  padding-right: 60px;
}
/* line 434, ../sass/default.scss */
slide.fill h4 {
  display: inline;
  position: absolute;
  bottom: 50px;
  padding: 15px;
}

/* Size variants */
/* line 445, ../sass/default.scss */
article.smaller p, article.smaller ul {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
/* line 450, ../sass/default.scss */
article.smaller table {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
/* line 455, ../sass/default.scss */
article.smaller pre {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}
/* line 460, ../sass/default.scss */
article.smaller q {
  font-size: 40px;
  line-height: 48px;
}
/* line 464, ../sass/default.scss */
article.smaller q:before, article.smaller q:after {
  font-size: 60px;
}

/* Builds */
/* line 473, ../sass/default.scss */
.build > * {
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}
/* line 477, ../sass/default.scss */
.build .to-build {
  opacity: 0;
}
/* line 481, ../sass/default.scss */
.build .build-fade {
  opacity: 0.5;
}
/* line 484, ../sass/default.scss */
.build .build-fade:hover {
  opacity: 1.0;
}

/* Pretty print */
/* line 493, ../sass/default.scss */
.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #008a35;
}

/* line 497, ../sass/default.scss */
.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

/* line 500, ../sass/default.scss */
.prettyprint .com {
  /* a comment */
  color: #7f7f7f;
  font-style: italic;
}

/* line 504, ../sass/default.scss */
.prettyprint .lit {
  /* a literal value */
  color: #7f0000;
}

/* line 509, ../sass/default.scss */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #7f7f7f;
}

/* line 515, ../sass/default.scss */
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #7f007f;
}

/* line 519, ../sass/default.scss */
.with-notes .note {
  opacity: 1;
  pointer-events: auto;
}

/* line 524, ../sass/default.scss */
.note {
  font-size: 20px;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  pointer-events: none;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 541, ../sass/default.scss */
.note > section {
  background: #fff;
  border-radius: 5px;
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  width: 60%;
  padding: 2em;
}

/* line 550, ../sass/default.scss */
input, button {
  vertical-align: middle;
}

/* line 554, ../sass/default.scss */
.centered {
  text-align: center;
}

/* line 558, ../sass/default.scss */
.reflect {
  -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -o-box-reflect: below 3px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  box-reflect: below 3px linear-gradient(rgba(255, 255, 255, 0) 85%, #ffffff 150%);
}

/* line 566, ../sass/default.scss */
.flexcenter {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

/* ===== SLIDE CONTENT ===== */
/* line 575, ../sass/default.scss */
.logoslide img {
  width: 383px;
  height: 92px;
}

/* line 581, ../sass/default.scss */
aside.gdbar {
  height: 97px;
  width: 155px;
  position: absolute;
  left: 0;
  top: 125px;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6)) no-repeat;
  background: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -moz-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -o-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -ms-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-size: 100% 100%;
  -moz-transition: all 0.5s ease-out 0.6s;
  -webkit-transition: all 0.5s ease-out 0.6s;
  -o-transition: all 0.5s ease-out 0.6s;
  transition: all 0.5s ease-out 0.6s;
}
/* line 594, ../sass/default.scss */
aside.gdbar.to-build {
  background-size: 0 100%;
}
/* line 598, ../sass/default.scss */
aside.gdbar img {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  margin: 8px 12px;
}

/* line 608, ../sass/default.scss */
#title-slide hgroup {
  position: absolute;
  bottom: 150px;
}
/* line 613, ../sass/default.scss */
#title-slide hgroup h1 {
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
}
/* line 620, ../sass/default.scss */
#title-slide hgroup h2 {
  font-size: 34px;
  color: #a9a9a9;
  font-weight: inherit;
}
/* line 626, ../sass/default.scss */
#title-slide hgroup p {
  font-size: 20px;
  color: #797979;
  line-height: 1.3;
  margin-top: 2em;
}
