/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Base SlideDeck Styles
 */
/* line 42, ../sass/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 47, ../sass/_base.scss */
body {
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  height: 100%;
  min-height: 740px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-transition: opacity 800ms ease-in;
  -webkit-transition: opacity 800ms ease-in;
  -o-transition: opacity 800ms ease-in;
  transition: opacity 800ms ease-in;
}

/* line 65, ../sass/_base.scss */
slides > slide[hidden] {
  display: none !important;
}

/* line 69, ../sass/_base.scss */
slides {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 80, ../sass/_base.scss */
slides > slide {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clickable/tappable areas */
/*
.slide-area {
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 700px;  

  left: 50%;
  top: 50%;

  cursor: pointer;  
  margin-top: -350px;  
  
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
#prev-slide-area {
  margin-left: -550px;
}
#next-slide-area {
  margin-left: 400px;
}
.slides.layout-widescreen #prev-slide-area,
.slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -650px;
}
.slides.layout-widescreen #next-slide-area,
.slides.layout-faux-widescreen #next-slide-area {
  margin-left: 500px;
}*/
/* Slide styles */
/* line 130, ../sass/_base.scss */
article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}

/* line 145, ../sass/_base.scss */
slide.fill {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 150, ../sass/_base.scss */
slide.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/**
 * Theme Styles
 */
/* line 38, ../sass/default.scss */
::selection {
  color: white;
  background-color: #ffd14d;
  text-shadow: none;
}

/* line 44, ../sass/default.scss */
body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, color-stop(0%, #b1dfff), color-stop(100%, #2a7cdf));
  background-image: -webkit-radial-gradient(50% 50%, #b1dfff 0%, #2a7cdf 600px);
  background-image: -moz-radial-gradient(50% 50%, #b1dfff 0%, #2a7cdf 600px);
  background-image: -o-radial-gradient(50% 50%, #b1dfff 0%, #2a7cdf 600px);
  background-image: -ms-radial-gradient(50% 50%, #b1dfff 0%, #2a7cdf 600px);
  background-image: radial-gradient(50% 50%, #b1dfff 0%, #2a7cdf 600px);
  background-attachment: fixed;
}

/* line 51, ../sass/default.scss */
slides > slide {
  width: 900px;
  height: 700px;
  margin-left: -450px;
  margin-top: -350px;
  padding: 40px 60px;
  background-color: white;
  font-size: 26px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 20px #515151;
  -webkit-box-shadow: 5px 5px 20px #515151;
  -o-box-shadow: 5px 5px 20px #515151;
  box-shadow: 5px 5px 20px #515151;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 67, ../sass/default.scss */
slides.layout-widescreen > slide {
  margin-left: -550px;
  width: 1100px;
}

/* line 72, ../sass/default.scss */
slides.layout-faux-widescreen > slide {
  margin-left: -550px;
  width: 1100px;
  padding: 40px 160px;
}

/*slides.nobackground slide:not(.fill) {
  background: url(/images/devfest_logo_small.png) 98% 99% no-repeat,
              url(/images/bubbles.png) 5% -125px no-repeat,
              url(/images/colorbar.png) 0 91% repeat-x,
              white !important;
}

slides.nobackground slide:not(.fill)::after,
slides.nobackground slide:not(.fill)::before {
  color: inherit !important;
}
*/
/* line 98, ../sass/default.scss */
slides > slide:not(.fill):not(.nobackground):before {
  font-size: 12pt;
  content: "#io2012 @yourtwitter";
  position: absolute;
  bottom: 20px;
  left: 60px;
  background: url(../../images/google_developers_icon_128.png) no-repeat 0 50%;
  -moz-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 40px;
  height: 30px;
  line-height: 1.9;
}
/* line 110, ../sass/default.scss */
slides > slide:not(.fill):not(.nobackground):after {
  font-size: 12pt;
  content: attr(data-slide-num) "/" attr(data-total-slides);
  position: absolute;
  bottom: 20px;
  right: 60px;
  line-height: 1.9;
}

/*slides.layout-widescreen > slide:not(.nobackground),
slides.layout-faux-widescreen > slide:not(.nobackground) {
  background-position-x: 0, 840px;
}*/
/* Slides */
/* line 127, ../sass/default.scss */
slides > slide {
  display: none;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #797979;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
}
/* line 138, ../sass/default.scss */
slides > slide.far-past {
  display: block;
  -moz-transform: translate(-2040px);
  -webkit-transform: translate(-2040px);
  -o-transform: translate(-2040px);
  -ms-transform: translate(-2040px);
  transform: translate(-2040px);
  -moz-transform: translate3d(-2040px, 0, 0);
  -webkit-transform: translate3d(-2040px, 0, 0);
  -o-transform: translate3d(-2040px, 0, 0);
  -ms-transform: translate3d(-2040px, 0, 0);
  transform: translate3d(-2040px, 0, 0);
}
/* line 144, ../sass/default.scss */
slides > slide.past {
  display: block;
  -moz-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -webkit-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -o-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -ms-transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  transform: translate(-1020px) rotateY(30deg) rotateX(45deg);
  -moz-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -webkit-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -o-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  -ms-transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
  transform: translate3d(-1020px, 0, 0) rotateY(30deg) rotateX(45deg);
}
/* line 150, ../sass/default.scss */
slides > slide.current {
  display: block;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 155, ../sass/default.scss */
slides > slide.current .auto-fadein {
  opacity: 1;
}
/* line 159, ../sass/default.scss */
slides > slide.current .gdbar {
  background-size: 100% 100%;
}
/* line 164, ../sass/default.scss */
slides > slide.next {
  display: block;
  -moz-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -webkit-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -o-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -ms-transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  transform: translate(1020px) rotateY(-30deg) rotateX(45deg);
  -moz-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -webkit-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -o-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  -ms-transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
  transform: translate3d(1020px, 0, 0) rotateY(-30deg) rotateX(45deg);
}
/* line 170, ../sass/default.scss */
slides > slide.far-next {
  display: block;
  -moz-transform: translate(2040px);
  -webkit-transform: translate(2040px);
  -o-transform: translate(2040px);
  -ms-transform: translate(2040px);
  transform: translate(2040px);
  -moz-transform: translate3d(2040px, 0, 0);
  -webkit-transform: translate3d(2040px, 0, 0);
  -o-transform: translate3d(2040px, 0, 0);
  -ms-transform: translate3d(2040px, 0, 0);
  transform: translate3d(2040px, 0, 0);
}
/* line 176, ../sass/default.scss */
slides > slide.dark {
  background: #515151;
}
/* line 180, ../sass/default.scss */
slides > slide hgroup + article {
  margin-top: 1.5em;
}
/* line 184, ../sass/default.scss */
slides > slide > article {
  margin-top: 2em;
}
/* line 187, ../sass/default.scss */
slides > slide > article p {
  margin-bottom: 1em;
}

/* line 198, ../sass/default.scss */
slides.layout-widescreen > slide.far-past,
slides.layout-faux-widescreen > slide.far-past {
  display: block;
  -moz-transform: translate(-2260px);
  -webkit-transform: translate(-2260px);
  -o-transform: translate(-2260px);
  -ms-transform: translate(-2260px);
  transform: translate(-2260px);
  -moz-transform: translate3d(-2260px, 0, 0);
  -webkit-transform: translate3d(-2260px, 0, 0);
  -o-transform: translate3d(-2260px, 0, 0);
  -ms-transform: translate3d(-2260px, 0, 0);
  transform: translate3d(-2260px, 0, 0);
}
/* line 204, ../sass/default.scss */
slides.layout-widescreen > slide.past,
slides.layout-faux-widescreen > slide.past {
  display: block;
  -moz-transform: translate(-1130px);
  -webkit-transform: translate(-1130px);
  -o-transform: translate(-1130px);
  -ms-transform: translate(-1130px);
  transform: translate(-1130px);
  -moz-transform: translate3d(-1130px, 0, 0);
  -webkit-transform: translate3d(-1130px, 0, 0);
  -o-transform: translate3d(-1130px, 0, 0);
  -ms-transform: translate3d(-1130px, 0, 0);
  transform: translate3d(-1130px, 0, 0);
}
/* line 210, ../sass/default.scss */
slides.layout-widescreen > slide.current,
slides.layout-faux-widescreen > slide.current {
  display: block;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 216, ../sass/default.scss */
slides.layout-widescreen > slide.next,
slides.layout-faux-widescreen > slide.next {
  display: block;
  -moz-transform: translate(1130px);
  -webkit-transform: translate(1130px);
  -o-transform: translate(1130px);
  -ms-transform: translate(1130px);
  transform: translate(1130px);
  -moz-transform: translate3d(1130px, 0, 0);
  -webkit-transform: translate3d(1130px, 0, 0);
  -o-transform: translate3d(1130px, 0, 0);
  -ms-transform: translate3d(1130px, 0, 0);
  transform: translate3d(1130px, 0, 0);
}
/* line 222, ../sass/default.scss */
slides.layout-widescreen > slide.far-next,
slides.layout-faux-widescreen > slide.far-next {
  display: block;
  -moz-transform: translate(2260px);
  -webkit-transform: translate(2260px);
  -o-transform: translate(2260px);
  -ms-transform: translate(2260px);
  transform: translate(2260px);
  -moz-transform: translate3d(2260px, 0, 0);
  -webkit-transform: translate3d(2260px, 0, 0);
  -o-transform: translate3d(2260px, 0, 0);
  -ms-transform: translate3d(2260px, 0, 0);
  transform: translate3d(2260px, 0, 0);
}

/* line 229, ../sass/default.scss */
b {
  font-weight: 600;
}

/* line 233, ../sass/default.scss */
a {
  color: #0066cc;
}
/* line 236, ../sass/default.scss */
a:visited {
  color: rgba(0, 102, 204, 0.75);
}
/* line 240, ../sass/default.scss */
a:hover {
  color: black;
}

/* line 245, ../sass/default.scss */
h1, h2, h3 {
  font-weight: 600;
}

/* line 249, ../sass/default.scss */
h2 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -2px;
  color: #515151;
}

/* line 256, ../sass/default.scss */
h3 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 2;
  font-weight: inherit;
  color: #797979;
}

/* line 264, ../sass/default.scss */
ul {
  margin-left: 1.2em;
  margin-bottom: 1em;
}
/* line 268, ../sass/default.scss */
ul li {
  margin-bottom: 0.5em;
}
/* line 271, ../sass/default.scss */
ul li ul {
  margin-left: 2em;
  margin-bottom: 0;
}
/* line 275, ../sass/default.scss */
ul li ul li:before {
  content: '-';
  font-weight: 600;
}
/* line 282, ../sass/default.scss */
ul > li:before {
  content: '·';
  margin-left: -1em;
  position: absolute;
  font-weight: 600;
}
/* line 290, ../sass/default.scss */
ul ul {
  margin-top: .5em;
}

/* line 295, ../sass/default.scss */
pre {
  font-family: 'Inconsolata', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 0 10px 60px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  width: 106%;
  background-color: #e6e6e6;
  left: -60px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
/* line 309, ../sass/default.scss */
pre:after {
  content: attr(data-lang);
  background-color: #a9a9a9;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 16pt;
  color: white;
  padding: 2px 25px;
  text-transform: uppercase;
}

/* line 322, ../sass/default.scss */
code {
  font-size: 95%;
  font-family: 'Inconsolata', 'Courier New', monospace;
  color: black;
}

/* line 328, ../sass/default.scss */
iframe {
  width: 100%;
  height: 620px;
  background: white;
  border: 1px solid silver;
  margin: -1px;
}

/* line 336, ../sass/default.scss */
dt {
  font-weight: bold;
}

/* line 340, ../sass/default.scss */
h3 + iframe {
  height: 540px;
}

/* line 344, ../sass/default.scss */
button {
  display: inline-block;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #f9f9f9), color-stop(70%, #e3e3e3));
  background: -webkit-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -moz-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -o-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -ms-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  border: 1px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px white;
  font-weight: 700;
  font-size: 10pt;
}

/* line 359, ../sass/default.scss */
button:hover {
  border-color: black;
}

/* line 363, ../sass/default.scss */
button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #e3e3e3), color-stop(70%, #f9f9f9));
  background: -webkit-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -moz-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -o-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -ms-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
}

/* line 367, ../sass/default.scss */
.blue {
  color: #0066cc;
}

/* line 370, ../sass/default.scss */
.yellow {
  color: #ffd319;
}

/* line 373, ../sass/default.scss */
.green {
  color: #008a35;
}

/* line 376, ../sass/default.scss */
.red {
  color: red;
}

/* line 379, ../sass/default.scss */
.black {
  color: black;
}

/* line 382, ../sass/default.scss */
.white {
  color: white;
}

/* line 385, ../sass/default.scss */
.dark {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

/* line 390, ../sass/default.scss */
img.centered {
  margin: 0 auto;
  display: block;
}

/* line 395, ../sass/default.scss */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

/* line 401, ../sass/default.scss */
th {
  font-weight: 600;
  text-align: left;
}

/* line 407, ../sass/default.scss */
td,
th {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  vertical-align: top;
}

/* line 413, ../sass/default.scss */
q {
  display: block;
  font-size: 60px;
  line-height: 72px;
  margin-left: 20px;
  margin-top: 100px;
}
/* line 420, ../sass/default.scss */
q:before {
  content: 'â€œ';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  font-size: 90px;
  color: silver;
}
/* line 430, ../sass/default.scss */
q:after {
  content: 'â€';
  position: absolute;
  margin-left: .1em;
  font-size: 90px;
  color: silver;
}

/* line 439, ../sass/default.scss */
div.author {
  text-align: right;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 150px;
}
/* line 446, ../sass/default.scss */
div.author:before {
  content: 'â€”';
}

/* line 451, ../sass/default.scss */
slide.fill {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 454, ../sass/default.scss */
slide.fill h3 {
  background: rgba(255, 255, 255, 0.75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -0.2em;
  margin-left: -60px;
  padding-left: 60px;
  margin-right: -60px;
  padding-right: 60px;
}
/* line 465, ../sass/default.scss */
slide.fill h4 {
  display: inline;
  position: absolute;
  bottom: 50px;
  padding: 15px;
}

/* Size variants */
/* line 476, ../sass/default.scss */
article.smaller p, article.smaller ul {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
/* line 481, ../sass/default.scss */
article.smaller table {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
/* line 486, ../sass/default.scss */
article.smaller pre {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}
/* line 491, ../sass/default.scss */
article.smaller q {
  font-size: 40px;
  line-height: 48px;
}
/* line 495, ../sass/default.scss */
article.smaller q:before, article.smaller q:after {
  font-size: 60px;
}

/* Builds */
/* line 504, ../sass/default.scss */
.build > * {
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}
/* line 508, ../sass/default.scss */
.build .to-build {
  opacity: 0;
}
/* line 512, ../sass/default.scss */
.build .build-fade {
  opacity: 0.3;
}
/* line 515, ../sass/default.scss */
.build .build-fade:hover {
  opacity: 1.0;
}

/* Pretty print */
/* line 524, ../sass/default.scss */
.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #009f5d;
}

/* line 528, ../sass/default.scss */
.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

/* line 531, ../sass/default.scss */
.prettyprint .com {
  /* a comment */
  color: #797979;
  font-style: italic;
}

/* line 535, ../sass/default.scss */
.prettyprint .lit {
  /* a literal value */
  color: #f6c000;
}

/* line 540, ../sass/default.scss */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #515151;
}

/* line 546, ../sass/default.scss */
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #d94d3a;
}

/* line 549, ../sass/default.scss */
.prettyprint .pln {
  color: #515151;
}

/* line 553, ../sass/default.scss */
.with-notes .note {
  opacity: 1;
  pointer-events: auto;
}

/* line 558, ../sass/default.scss */
.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  pointer-events: none;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 575, ../sass/default.scss */
.note > section {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #797979;
  -webkit-box-shadow: 0 0 10px #797979;
  -o-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  width: 60%;
  padding: 2em;
}

/* line 584, ../sass/default.scss */
input, button {
  vertical-align: middle;
}

/* line 588, ../sass/default.scss */
.centered {
  text-align: center;
}

/* line 592, ../sass/default.scss */
.reflect {
  -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -o-box-reflect: below 3px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  box-reflect: below 3px linear-gradient(rgba(255, 255, 255, 0) 85%, #ffffff 150%);
}

/* line 600, ../sass/default.scss */
.flexbox {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
}

/* line 604, ../sass/default.scss */
.flexbox.vcenter {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 610, ../sass/default.scss */
.flexbox.vleft {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: left;
  -webkit-box-align: left;
  -ms-box-align: left;
  box-align: left;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 616, ../sass/default.scss */
.auto-fadein {
  -moz-transition: opacity 0.6s ease-in 1s;
  -webkit-transition: opacity 0.6s ease-in 1s;
  -o-transition: opacity 0.6s ease-in 1s;
  transition: opacity 0.6s ease-in 1s;
  opacity: 0;
}

/* ===== SLIDE CONTENT ===== */
/* line 623, ../sass/default.scss */
.logoslide img {
  width: 383px;
  height: 92px;
}

/* line 630, ../sass/default.scss */
.segue h2 {
  color: #e6e6e6;
  font-size: 60px;
}
/* line 634, ../sass/default.scss */
.segue h3 {
  color: #e6e6e6;
  line-height: 2.8;
}

/* line 640, ../sass/default.scss */
.thank-you-slide {
  background: #4387fd;
  color: white;
}
/* line 644, ../sass/default.scss */
.thank-you-slide h2 {
  font-size: 60px;
  color: inherit;
}
/* line 649, ../sass/default.scss */
.thank-you-slide section > p {
  margin-top: 2em;
  font-size: 20pt;
}
/* line 654, ../sass/default.scss */
.thank-you-slide > p {
  position: absolute;
  bottom: 80px;
  font-size: 24pt;
  line-height: 1.3;
}

/* line 662, ../sass/default.scss */
aside.gdbar {
  height: 97px;
  width: 155px;
  position: absolute;
  left: 0;
  top: 125px;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6)) no-repeat;
  background: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -moz-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -o-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -ms-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-size: 0 100%;
  -moz-transition: all 0.5s ease-out 0.5s;
  -webkit-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  /* Better to transition only on background-size, but not sure how to do that with the mixin. */
}
/* line 674, ../sass/default.scss */
aside.gdbar.right {
  right: 0;
  left: -moz-initial;
  left: initial;
  top: 264px;
  /* 96 is height of gray icon bar */
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 681, ../sass/default.scss */
aside.gdbar.right img {
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 686, ../sass/default.scss */
aside.gdbar img {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  margin: 8px 12px;
}

/* line 697, ../sass/default.scss */
.title-slide hgroup {
  position: absolute;
  bottom: 150px;
}
/* line 701, ../sass/default.scss */
.title-slide hgroup h1 {
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
}
/* line 708, ../sass/default.scss */
.title-slide hgroup h2 {
  font-size: 34px;
  color: #a9a9a9;
  font-weight: inherit;
}
/* line 714, ../sass/default.scss */
.title-slide hgroup p {
  font-size: 20px;
  color: #797979;
  line-height: 1.3;
  margin-top: 2em;
}

/* line 723, ../sass/default.scss */
.thank-you-slide, .segue {
  padding: 60px 120px;
}
/* line 726, ../sass/default.scss */
.thank-you-slide aside, .segue aside {
  width: 215px;
}
